<html>
    <head>

    </head>
    <body>
        <a href="es1">dataframe to geodataframe</a><br>
        
        <form action="/es2" method = "post">
            <p>inserisci un nome di una farmacia <input type = "text" name = "farmacia" /></p>
            <p><input type = "submit" value = "invia" /></p>
        </form>
        
        <a href="es3">es3--tutte le farmacie presenti nel geodataset con i confini dei comuni in cui si trovano</a><br>
        <a href="es3">l'elenco dei quartieri presenti nel dataset es 3</a><br>
        <form action="/es4" method = "post">
            <p>inserisci una zona <input type = "text" name = "zona" /></p>
            <p><input type = "submit" value = "invia" /></p>
        </form>
        <a href="es5">prezzo medio di ogni quartiere di Milano</a>
        <form action="/es6" method = "post">
            <p>inserisci il tasso di conversione partendo dagli euro <input type = "text" name = "TC" /></p>
            <p><input type = "submit" value = "invia" /></p>
        </form>
       
    </body>
</html>