<html>
    <head>

    </head>
    <body>
        <a href="es1">dataframe to geodataframe</a><br>
        
        <form action="/es2" method = "post">
            <p>inserisci un nome di una farmacia <input type = "text" name = "farmacia" /></p>
            <p><input type = "submit" value = "invia" /></p>
        </form>
        
        <a href="es3">es3--tutte le farmacie presenti nel geodataset con i confini dei comuni in cui si trovano</a><br>
        <a href="es4">es4--un elenco dei comuni con il numero di farmacie presenti in ogni comune</a><br>
        
        <a href="es5">es5</a><br>
        <a href="es6">es6</a><br>
       
    </body>
</html>